body {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f2eeea;
}

a {
    text-decoration: none;
}

/* Header css */
header {
    height: 60px;
    width: 100%;
    color: #fff;
    /* border: 2px solid blueviolet; */
    background-color: #3c2b2d;
    position: fixed;
}

#brand {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 35px;

}

#brand>a {
    color: #fff;
}

#back {
    background-color: rgb(9, 141, 141);
    float: left;
    margin-left: 1%;
    border-radius: 4px;
}

#social {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

.socialLogo {
    height: 50px;
}

#content {
    display: inline-block;
    width: 85%;
    height: 600px;
    margin-top: 7%;
    margin-left: 8%;
    /* border: 2px solid black; */
}

#restaurantName {
    font-size: 39px;
    margin-left: 1%;
    /* font-style: italic; */
    font-weight: bold;
    color: #183871;
}

#restaurantAddress {
    font-size: 23px;
    margin-left: 1%;
    margin-top: 5px;
}

#imgDiv {
    width: 45%;
    height: 450px;
    border: 8px groove gray;
    float: left;
    margin-top: 28px;
}

#imgDiv>img {
    width: 100%;
    height: 450px;
}

#contentDiv {
    height: 550px;
    width: 49%;
    /* border: 2px solid black; */
    float: left;
    margin-left: 4%;
    margin-top: -4px;


}

.featureContainer {
    width: 100%;
    height: 140px;
    margin-top: 50px;
    /* border: 2px solid black; */
    justify-content: center;
}

figure {
    float: left;
    margin-left: 1%;
    margin-top: 0px;
}

figcaption {
    padding-left: 20%;
    padding-top: 1px;
    font-size: 12px;

}

.figIcon {
    height: 120px;
    width: 120px;
    /* border: 2px solid rgb(215, 225, 14); */
}

#button1 {
    margin-left: -49%;
}

button {
    margin-top: 32px;
    margin-left: -160px;
    background-color: rgb(69, 167, 69);
    border-color: rgb(69, 167, 69);
    color: azure
}

/* footer css */
footer {
    height: 120px;
    width: 100%;
    /* border: 2px solid brown; */
    text-align: center;
    margin-top: 5%;
    background-color: #3c2b2d;
    color: #fff;

}

.footDiv {
    height: 30px;
    width: 33%;
    float: left;
    border-right: 2px solid #fff;
    margin-top: 18px;
}

#copy {
    font-size: 30px;
}

.noborder {
    border: none;
}

@media screen and (min-width: 1201px) {
    body {
        background-color: #f2eeea;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: #b7e9c0;
    }

    #content {
        margin-left: 5%;
        width: 94%;
    }

    #imgDiv {
        width: 42%;
    }

    #contentDiv {
        width: 50%;
        margin-left: 3%;
    }

    figure {
        margin-right: 7%;
    }

    .figIcon {
        height: 115px;
        width: 115px;
    }

    #fig3 {
        margin-left: 0%;
    }

    footer {
        margin-top: 11%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: rgb(242, 242, 203);
    }

    #restaurantName {
        margin-top: 16px;
    }

    #imgDiv {
        width: 70%;
    }

    footer {
        margin-top: 74%;
    }

    #contentDiv {
        margin-left: 1%;
        margin-top: 1px;
        width: 80%;
    }

    footer {
        margin-top: 74%;
    }
}

@media screen and (min-width: 626px) and (max-width: 768px) {
    body {
        background-color: rgb(250, 158, 157);
    }

    #restaurantName {
        margin-top: 45px;
    }

    #imgDiv {
        width: 70%;
        height: 400px;
    }

    #imgDiv>img {
        height: 400px;
    }

    #contentDiv {
        width: 100%;
        margin-left: 2%;
        margin-top: 1px;
    }

    footer {
        margin-top: 88%;
    }
}

@media screen and (max-width: 625px) {
    header {
        height: 90px;
    }

    #brand {
        margin-top: 2%;
    }

    #social {
        margin-top: 3%;
    }


    #back {
        margin-left: -30%;
        margin-top: 62px;
    }

    #restaurantName {
        margin-top: 85px;
        font-size: 37px;
    }

    #restaurantAddress {
        font-size: 22px;
    }

    #imgDiv {
        width: 71%;
        height: 335px;
    }

    #imgDiv>img {
        width: 100%;
        height: 335px;
    }

    #contentDiv {
        width: 99%;
        margin-left: 0%;
    }

    figure {
        margin-left: 0%;
        margin-right: 7%;
    }

    .figIcon {
        width: 100px;
        height: 100px;
    }

    figcaption {
        padding-left: 14%;
    }

    #button1 {
        margin-left: 215px;
    }

    footer {
        margin-top: 115%;
    }
}