body {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f2eeea;
}

a {
    text-decoration: none;
}

/* Header css */
header {
    height: 60px;
    width: 100%;
    color: #fff;
    /* border: 2px solid blueviolet; */
    background-color: #3c2b2d;
    position: fixed;
}

#brand {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 35px;

}

#brand>a {
    color: #fff;
}

#social {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

.socialLogo {
    height: 50px;
}

#content {
    display: inline-block;
    width: 85%;
    margin-top: 8%;
    margin-left: 10%;
    /* border: 2px solid black; */
}

#filterDiv {
    float: left;
    width: 20%;
    height: 600px;
    border: 3px solid rgb(178, 173, 173);
    border-radius: 10px;
    margin-top: 35px;

}

#filterHeading {
    height: 22px;
    padding-left: 14px;
    padding-bottom: 24px;
    margin-top: -12px;
    border-bottom: 1px solid #dbd9d9;
}

#cusineFilter {
    height: 191px;
    border-bottom: 1px solid #dbd9d9;
}

#costFilter {
    height: 180px;
    /* border-bottom: 1px solid #dbd9d9; */
}

#cusineFilter>h2 {
    padding-left: 27px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#costFilter>h2 {
    padding-left: 51px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.radio {
    margin-left: 5px;
    margin: 5px;
}



#contentDiv {
    float: left;
    width: 75%;
    height: auto;
    margin-left: 2%;
    margin-top: 10px;
    /* border: 2px solid yellow; */
}



#restaurantName>input {
    width: 90%;
    height: 42px;
    margin-left: 1%;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid #dbd9d9;
}

.item {
    height: 291px;
    border-width: 0px 2px 3px 1px;
    border-style: solid;
    border-color: #dbd9d9;
    margin-top: 25px;
}

.itemImg {
    width: 34%;
    height: 260px;
    /* border: 1px solid green; */
    float: left;
    margin-left: 2%;

}

.itemImg>img {
    width: 100%;
    height: 260;
    border-radius: 20px;
}

.itemDetails {
    width: 61%;
    height: 260px;
    /* border: 1px solid rgb(0, 0, 128); */
    float: left;
    margin-left: 2%;
}

.itemHeading {
    font-size: 32px;
    font-weight: bold;
}

.itemSubHead {
    margin-top: 18px;
    line-height: 39px;
    font-size: 23px;
    color: #6e6868;
}

.menu1 {
    height: 21px;
    margin-top: 18px;
}

.cuisine1 {
    height: 25px;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(88, 192, 224);
    color: white;
    font-size: 19px;
    border-radius: 3px;
    float: left;
}

.cuisine2 {
    height: 21px;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(18, 125, 41);
    color: white;
    font-size: 21px;
    border-radius: 3px;
    margin-left: 2%;
}


.menu2 {
    height: 21px;
    margin-top: 12px;
}

.cuisine3 {
    height: 26px;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(221, 92, 75);
    color: white;
    font-size: 19px;
    border-radius: 3px;
    float: left;
}

.cuisine4 {
    height: 21px;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(29, 103, 149);
    color: white;
    font-size: 21px;
    border-radius: 3px;
    margin-left: 2%;
}

/* footer css */
footer {
    height: 120px;
    width: 100%;
    /* border: 2px solid brown; */
    text-align: center;
    margin-top: 5%;
    background-color: #3c2b2d;
    color: #fff;

}

.footDiv {
    height: 30px;
    width: 33%;
    float: left;
    border-right: 2px solid #fff;
    margin-top: 18px;
}

#copy {
    font-size: 30px;
}

.noborder {
    border: none;
}

@media screen and (min-width: 1201px) {
    body {
        background-color: #f2eeea;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: #b7e9c0;
    }

    #content {
        width: 90%;
        margin-left: 9%;
    }

    #filterDiv {
        width: 21%;
        height: 550px;
    }

    #costFilter>h2 {
        padding-left: 36px;
    }

    #contentDiv {
        width: 73%;
    }

    .item {
        border-color: #a69797;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: rgb(242, 242, 203);
    }

    #content {
        width: 93%;
        margin-left: 5%;
    }

    #filterDiv {
        width: 23%;
        height: 550px;
    }

    #cusineFilter>h2 {
        padding-left: 7px;
    }

    #costFilter>h2 {
        padding-left: 20px;
    }

    #contentDiv {
        width: 73%;
    }

    .item {
        height: 282px;
        margin-left: 1%;
    }

    .itemImg>img {
        height: 240px;
    }

    .itemSubHead {
        margin-top: 13px;
        line-height: 36px;
        font-size: 22px;
    }
}

@media screen and (min-width: 626px) and (max-width: 768px) {
    body {
        background-color: rgb(250, 158, 157);
    }

    #content {
        width: 98%;
        margin-left: 2%;
    }

    #filterDiv {
        width: 23%;
        height: 519px;
    }

    h1 {
        font-size: 29px;
    }

    #cusineFilter>h2 {
        padding-left: 1px;
    }

    #costFilter>h2 {
        padding-left: 17px;
    }

    #contentDiv {
        width: 73%;
        margin-top: 19px;
    }

    .item {
        height: 280px;
    }

    .itemHeading {
        font-size: 30px;
    }

    .itemSubHead {
        margin-top: 10px;
        line-height: 30px;
        font-size: 22px;
    }

    .itemImg>img {
        width: 100%;
        height: 238px;
    }

    .item {
        height: 280px;
    }

    .cuisine1 {
        font-size: 16px;
        height: 19px;
    }

    .cuisine2 {
        font-size: 16px;
    }

    .cuisine3 {
        font-size: 16px;
        height: 19px;
    }

    .cuisine4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 625px) {
    #filterDiv {
        width: 52%;
        height: 446px;
        margin-left: 35px;
    }


    #contentDiv {
        width: 94%;
        margin-top: 33px;
    }

    .item {
        height: 290px;
        margin-top: 35px;
    }

    .itemImg>img {
        height: 207px;
    }

    .itemHeading {
        font-size: 27px;
    }

    .itemSubHead {
        margin-top: 22px;
        line-height: 29px;
        font-size: 21px;
    }
}